/contacts_app/android
/contacts_app/ios
/contacts_app/linux
/contacts_app/web
/contacts_app/windows
/quick_note/bin/Debug/net8.0-windows
/quick_note/obj/Debug/net8.0-windows
/LargePlaque/XpsCreator/bin/Debug/net8.0-windows
/LargePlaque/XpsCreator/obj/Debug/net8.0-windows
/LargePlaque/XpsCreator/obj
